* {
    margin-top: 0px;
    align-items: center;
}
body {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, .92);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
 }
    nav {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: white;
        align-items: center;
        text-decoration: none;
    }
    a:hover {
        color: rgb(7, 7, 220)
    }
    input {
        border: 2px, blue, solid;    
    }
    .formulario {
        justify-content: center;
        padding-top: 200px;
        border: white solid 4px;
        padding: 20px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    .input[type="submit"]:hover {
        background-color: blue;
        color: white;
        font-weight: bold;
    }
    .nome-phone {
        width: 200px;
        height: 100px;
        margin-left: 20px;
        line-height: 2;
    }