* {
    margin-top: 0px;
    align-items: center;
}
body {
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 7, .92);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
 }
    nav {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color: white;
        align-items: center;
        text-decoration: none;
    }
    a:hover {
        color: rgb(7, 7, 220)
    }
    table {
        padding: 20px;
        border-color: white;
        border-style:inset;
    }
   
    .descricao {
        padding-top: 20px;
        font-size: large;
        line-height: 1.5;
        text-align: justify;
        padding-bottom: 20px;
        border: white solid 3px;
        margin-top: 100px;
        margin-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .quem-somos {
        width: 400px;;
        text-align: justify;
        float: left;
        padding-bottom: 20px;
        padding-top: 20px;
        border: white solid 3px;
        padding-bottom: 20px;
        margin-bottom: 100px;
        margin-left: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nosso-compromisso {
        width: 400px;
        text-align: justify;
        float: right;
        padding-bottom: 20px;
        padding-top: 20px;
        border: white solid 3px;
        margin-bottom: 100px;
        margin-right: 100px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .por-tras-da-SE {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    